In [48]:
import pandas as pd
import matplotlib as mt

Olympics

In [49]:
main_data = pd.read_csv("athletes new.csv")

In [50]:
main_data.isna().sum()

code                 0
name                 0
name_short           0
name_tv              0
gender               0
function             0
country_code         0
country              0
country_full         0
nationality          0
nationality_full     0
nationality_code     0
height               0
weight              16
disciplines          0
events               0
birth_date           0
dtype: int64

In [51]:
main_data[main_data['weight'].isna()]

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,nationality_full,nationality_code,height,weight,disciplines,events,birth_date
457,1566088,TUGSUZ Eda,TUGSUZ E,Eda TUGSUZ,Female,Athlete,TUR,Türkiye,Türkiye,0,0,0,173,NaN,['Athletics'],"[""Women's Javelin Throw""]",1997-03-27
537,1571545,LEVCHENKO Yuliia,LEVCHENKO Y,Yuliia LEVCHENKO,Female,Athlete,UKR,Ukraine,Ukraine,0,0,0,179,NaN,['Athletics'],"[""Women's High Jump""]",1997-11-28
684,1892137,OGRODNIKOVA Nikola,OGRODNIKOVA N,Nikola OGRODNIKOVA,Female,Athlete,CZE,Czechia,Czechia,0,0,0,171,NaN,['Athletics'],"[""Women's Javelin Throw""]",1990-08-18
1271,1922750,JASIUNAITE Liveta,JASIUNAITE L,Liveta JASIUNAITE,Female,Athlete,LTU,Lithuania,Lithuania,0,0,0,173,NaN,['Athletics'],"[""Women's Javelin Throw""]",1994-07-26
2352,1939961,MANSFIELD Lauren,MANSFIELD L,Lauren MANSFIELD,Female,Athlete,AUS,Australia,Australia,0,0,0,170,NaN,['3x3 Basketball'],['Women'],1989-12-18
2607,1958471,BRIZUELA Dario,BRIZUELA D,Dario BRIZUELA,Male,Athlete,ESP,Spain,Spain,0,0,0,185,NaN,['Basketball'],['Men'],1994-11-08
2939,1912007,ORIE Delicious,ORIE D,Delicious ORIE,Male,Athlete,GBR,Great Britain,Great Britain,0,0,0,198,NaN,['Boxing'],"[""Men's +92kg""]",1997-05-31
3817,1966661,MATTERN Carson,MATTERN C,Carson MATTERN,Male,Athlete,CAN,Canada,Canada,0,0,0,0,NaN,['Cycling Track'],"[""Men's Team Pursuit""]",2004-02-24
4643,1960015,LETE Elene,LETE E,Elene LETE,Female,Athlete,ESP,Spain,Spain,0,0,0,175,NaN,['Football'],['Women'],2002-05-07
4644,1960019,LOPEZ Vicky,LOPEZ V,Vicky LOPEZ,Female,Athlete,ESP,Spain,Spain,0,0,0,161,NaN,['Football'],['Women'],2006-07-26
5863,1538253,ALONSO Agostina,ALONSO A,Agostina ALONSO,Female,Athlete,ARG,Argentina,Argentina,0,0,0,0,NaN,['Hockey'],['Women'],1995-10-01
6427,1892792,GOSHEN Maya,GOSHEN M,Maya GOSHEN,Female,Athlete,ISR,Israel,Israel,0,0,0,0,NaN,['Judo'],"['Women -70 kg', 'Mixed Team']",2000-06-25
7726,1880556,MONTINHO Matias,MONTINHO M,Matias MONTINHO,Male,Athlete,ANG,Angola,Angola,0,0,0,0,NaN,['Sailing'],['Mixed Dinghy'],1990-07-15
8936,1909703,ZOMBORI Gabor,ZOMBORI G,Gabor ZOMBORI,Male,Athlete,HUN,Hungary,Hungary,0,0,0,0,NaN,['Swimming'],"[""Men's 200m Individual Medley"", ""Men's 400m I...",2002-10-08
9553,1966948,HAASE Robin,HAASE R,Robin HAASE,Male,Athlete,NED,Netherlands,Netherlands,0,0,0,191,NaN,['Tennis'],"[""Men's Doubles"", ""Men's Singles""]",1987-04-06
10341,1948954,KRSMANOVIC Petar,KRSMANOVIC P,KRSMANOVIC,Male,Athlete,SRB,Serbia,Serbia,0,0,0,205,NaN,['Volleyball'],['Men'],1990-06-01

In [52]:
avg_weight = (main_data['weight'].max() + main_data['weight'].min())/2
avg_weight = int(avg_weight)
avg_weight

56

In [53]:
main_data[main_data['weight'].isna()] = avg_weight

In [54]:
main_data.isna().sum()

code                0
name                0
name_short          0
name_tv             0
gender              0
function            0
country_code        0
country             0
country_full        0
nationality         0
nationality_full    0
nationality_code    0
height              0
weight              0
disciplines         0
events              0
birth_date          0
dtype: int64

In [55]:
main_data.columns

Index(['code', 'name', 'name_short', 'name_tv', 'gender', 'function',
       'country_code', 'country', 'country_full', 'nationality',
       'nationality_full', 'nationality_code', 'height', 'weight',
       'disciplines', 'events', 'birth_date'],
      dtype='object')

Basic Data Overview

In [57]:
#1. What is the total number of records in the dataset?

main_data.size

188955